# ansible.cfg for mlavi.homelab collection
ANSIBLE_INVENTORY=/home/mark/Documents/gitlab.com/mlavi/homelab/Ansible.com/controller/etc/ansible/hosts.yaml
ANSIBLE_REMOTE_USER=ansible
ANSIBLE_SKIP_TAGS="airsonic, bazarr, bitwarden, booksonic, calibre, cloudcmd, cloudflare_ddns, code-server, couchpotato, dashy, deluge, dokuwiki, drone_ci, duplicacy, duplicati, emby, esphome, firefly, freshrss, get_iplayer, gitea, gitlab, glances, gotify, guacamole, healthchecks.io, heimdall, hello_world, homebridge, jackett, joomla, komga, krusader, lidarr, logging, loki, mealie, minecraft-server, miniflux, minio, miniflux, minio, mumble, mylar, mymediaforalexa, n8n, navidrome, netbootxyz, nomad, nzbget, octoprint, ombi, openhab, organizr, overseerr, paperless_ng, piwigo, plex, promtail, prowlarr, pyload, pytivo, radarr, route53_ddns, rssbridge, sabnzbd, sickchill, sonarr, syncthing, tautulli, thelounge, threadfin, tiddlywiki, transmission, transmission_with_openvpn, ubooquity, utorrent, virtual_desktop, wallabag, watchtower, wireshark, woodpecker_ci, youtubedlmaterial, znc, speedtest-tracker, stats, ddns_updater, minidlna, mosquitto, netdata, nextcloud"
ANSIBLE_YAML_FILENAME_EXT=".yml, .yaml, .json"
