# shellcheck shell=bash

# If .env missing; restore from .env.sample and validate
# See https://github.com/direnv/direnv/wiki/.envrc-Boilerplate
if [[ -f .env.sample ]]; then
  if ! command -v createnv > /dev/null; then
    echo 'WARN|Createnv missing; try: pyenv local 3.x && pip install createnv'
  elif [[ ! -f .env ]]; then
    createnv --use-default --overwrite \
      || echo 'ERROR|https://github.com/cuducos/createnv'
    if command dotenv-linter --version >&/dev/null; then
      dotenv-linter .env || echo 'ERROR|https://dotenv-linter.github.io'
    fi
  fi
fi

dotenv_if_exists || direnv status # https://direnv.net/man/direnv-stdlib.1.html
dotenv_if_exists .env.mlavi.homelab.sample
# dotenv_if_exists .env.troubleshooting.sample

if on_git_branch; then
  echo && git status --short --branch #\
  # && git fetch --verbose upstream && git merge upstream/main && echo '|MERGE|remote upstream: done.'
fi
cat <<- 'MotD'
ansible-playbook nas.yml --limit nas --start-at-task=dashy* # --list-tags
ansible-playbook nas-mlavi.homelab.yaml --start-at-task=dashy* # --list-tags

## Tags

Full Ansible tag list:
```bash
  echo $(ANSIBLE_SKIP_TAGS='' ansible-playbook nas.yml --list-tags | grep 'TASK TAGS:' | awk -F[ '{print $2}' | tr -d ']')
```

Keep:
- Core+OS: ansible-nas, ansible-nas-general, ansible-nas-users, ansible-nas-docker,
           docker, docker_arm, geerlingguy.docker, bertvv.samba, geerlingguy.nfs,
- Ansible: molecule-idempotence-notest, molecule-notest, skip_ansible_lint,
- Infra+Ops: portainer, traefik
- Apps: homeassistant, nfs, samba, timemachine

Move to .envrc.sample::ANSIBLE_SKIP_TAGS
- Infra+Ops: ddns_updater, mosquitto, netdata, speedtest-tracker, stats,
- Apps: dashy, minidlna, nextcloud
- Not on linux/arm/v7: heimdall, jellyfin, mealie,

## Ansible

- ./ansible.cfg moved to .env.sample environment variables:
  - https://docs.ansible.com/ansible/latest/reference_appendices/config.html#ansible-configuration-settings
  - adopt: ini style; section and key or move to .env.sample::ANSIBLE_SKIP_TAGS
- How to confirm proper release? in /requirements.yml
  - ansible-galaxy install -r requirements.yml
    - ~/.ansible/roles/geerlingguy.docker/meta/.galaxy_install_info
    https://galaxy.ansible.com/ui/standalone/roles/geerlingguy/docker
    https://github.com/geerlingguy/ansible-role-docker
  - Lifecycle
    TODO: ansible-galaxy collection install vladgh.samba --upgrade && ansible-galaxy collection list
    https://docs.ansible.com/ansible/latest/collections_guide/index.html

    ansible-galaxy role list
    ansible-galaxy role info geerlingguy.docker | grep install
    ansible-galaxy role remove geerlingguy.docker && ansible-galaxy role list
    ansible-galaxy role install geerlingguy.docker
  - versus: ssh ansible-nas sudo su ansible
    # cd ~ansible && curl -fsSL get.docker.com -o get-docker.sh && sh get-docker.sh
    # To run Docker as a non-privileged user, consider setting up the
    # Docker daemon in rootless mode for your user:
    #  dockerd-rootless-setuptool.sh install
    # Visit https://docs.docker.com/go/rootless/ to learn about rootless mode.
    # To run the Docker daemon as a fully privileged service, but granting non-root
    # users access, refer to https://docs.docker.com/go/daemon-access/
    # sudo usermod -aG docker ansible && docker info

MotD
