# shellcheck shell=bash

direnv.extension.mlavi.create_env
dotenv || direnv status # https://direnv.net/man/direnv-stdlib.1.html
direnv.extension.mlavi.git_repo

cat <<- 'MotD'

ansible-playbook nas.yml --limit nas --start-at-task=homeassistant*
  --start-at-task=ansible-nas-docker*
ANSIBLE_SKIP_TAGS+=', homeassistant' ansible-playbook --limit pi --start-at-task=mlavi.homelab.h*

ansible-playbook mlavi.homelab.ansible_nas_io --list-tasks --tags "jellyfin,webtainer"
MotD

# direnv.extension.mlavi.autostart
# direnv.extension.mlavi.readme requirements-mlavi.homelab.yaml
