# shellcheck shell=bash

# cat .env.*.sample > .env.sample
# ansible.cfg for mlavi.homelab collection
direnv.extension.mlavi.create_env

dotenv || direnv status # https://direnv.net/man/direnv-stdlib.1.html
# dotenv .env.mlavi.homelab.sample
# dotenv .env.troubleshooting.sample
direnv.extension.mlavi.git_repo

# diff nas.yml mlavi.homelab-nas.yaml

cat <<- 'MotD'
- How to confirm proper release? in /requirements.yml
  - ansible-galaxy install -r requirements.yml
    - ~/.ansible/roles/geerlingguy.docker/meta/.galaxy_install_info
    https://galaxy.ansible.com/ui/standalone/roles/geerlingguy/docker
    https://github.com/geerlingguy/ansible-role-docker
  - Lifecycle
    TODO: ansible-galaxy collection install vladgh.samba --upgrade && ansible-galaxy collection list
    https://docs.ansible.com/ansible/latest/collections_guide/index.html

    ansible-galaxy role list
    ansible-galaxy role info geerlingguy.docker | grep install
    ansible-galaxy role remove geerlingguy.docker && ansible-galaxy role list
    ansible-galaxy role install geerlingguy.docker

ansible-playbook nas.yml --limit nas --start-at-task=homeassistant* # --list-tags
ansible-playbook mlavi.homelab-nas.yaml --start-at-task=ansible-nas-docker*
ANSIBLE_SKIP_TAGS+=', homeassistant' ansible-playbook --limit pi \
  mlavi.yaml mlavi.homelab-nas.yaml --start-at-task=mlavi.homelab.h*

MotD

# direnv.extension.mlavi.autostart
# direnv.extension.mlavi.readme requirements-mlavi.homelab.yaml
